html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 0 2rem;
  font-family: sans-serif;
  background: #fff;
}
.master__container {
  max-width: 65rem;
  margin: auto;
  overflow: hidden;
}

.top-nav {
  background: #fa6938;
  margin: 0;
}

.top-nav__container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: center;
  padding: 0;
}
.top-nav__items {
  color: #fff;
  flex-basis: calc(100% / 7);
  font-size: 11pt;
  text-align: center;
  /*background: #e04c6f;*/
  list-style: none;
  margin: 0.7rem 0.3rem;
  display: inline;
  text-shadow: 0.03rem 0.03rem #c8542d;

}
.top-nav__freeshipping {
  background: #c8542d;
  border-radius: 4%;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}
.main {
  background: #cdcdcd;
}

.logo-bar {
  background: #fff;
  border-bottom: 0.03rem solid #ccc;
  -webkit-box-shadow: 0px 6px 27px -3px rgba(196,196,196,1);
-moz-box-shadow: 0px 6px 27px -3px rgba(196,196,196,1);
box-shadow: 0px 6px 27px -3px rgba(196,196,196,1);
}
.logo-bar__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: space-between;
}

.logo {
  /*background: #473198;*/
  flex-basis: calc(100% / 5);
  flex-shrink: 4;

}
.logo img{
  width:63%;
  margin: auto 0;
}
.collection-links__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: space-between;
  flex-basis: calc(100% / 3);
  flex-grow: 2;


}

.collection-links li {
  font-family: arial;
  font-size: 17pt;
  /*background: #369389;*/
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: calc(100% / 5);
  flex-wrap: nowrap;
  display: inline;
}

.cart-search {
  background: #fff;
  position: relative;
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-content: space-between;
}

.cartbutton {
  position: relative;
  background: #fff;
  border: 0.09rem solid #d9d9d9;
  border-radius: 3%;
  padding: 0 2.3rem 0 2.3rem;
  margin: 0 auto;
}

.cartbutton p {
  font-size: 10pt;
  line-height: 8pt;
}

.cart-search .fa-shopping-cart {
  position: absolute;
  left: 1rem;
  top: 25%;
  font-size: 18px;
}

.cart-search__search-bar {
  width: 100%;
  background: #fff;
  margin: 0 0 0 1rem;
  padding: 0.4rem 0.4rem;
  border: 0.09rem solid #d9d9d9;
  border-radius: 3%;

}
.cart-search__search-bar input {
  text-indent: 1.3rem;
  border: 0.05rem solid transparent;

}
.cart-search h2 {
  font-size: 10pt;
  color: #7e7e7e;
  position: absolute;
  top: -1rem;
  right: 0;
  margin: 0 0.5rem 0 0;
}
.cart-search .fa-search {
  position: relative;
  left: 0.5rem;
  font-size: 15pt;
}

.tiebar {
  display: flex;
  background: #f4f4f4;
  width: 100%;
  text-align: center;
  overflow: hidden;

}

.tiebar--container {
  margin: 0 auto;
  max-width: 60rem;
  flex-direction: column;
  align-items: center;
}

.tiebar-tieblock {
  /*background: #15a6cc;*/
  flex-basis: calc(100% / 9);
  flex-wrap: nowrap;
  align-content: space-around;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.tiebar-tieblock__titles {
  font-size: 10pt;
  margin: 0 auto;
  position: relative;
  display: block;

}

.tieblock__images {
  /*width: 5.8rem;*/
  width: 5.5rem;
  margin: 0 auto;

}

.tierbar__dressbetter {
  margin: 0 auto;
  display: block;
  position: absolute;
  padding: 4rem;
}

.tiebar__dressbetter h1 {
  font-size: 32pt;
  line-height: 50pt;

}
